:root{
	--sky-blue:#1fb6fc;
	--theme-white:#ffffff;
	--theme-gray:#88879e;
}
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
html{
	scroll-behavior: smooth;
}
body{
	font-family: 'Roboto';
}
a{
	text-decoration: none;
	display: inline-block;
}
ul{
	list-style:none;
}
img{
	width: 100%;
	display: block;
	object-fit: cover;
}
.container{
	max-width:1320px;
	margin:0 auto;
	padding: 0 15px;
}
.d-flex{
	display: flex;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.justify-between{
	justify-content:space-between;
}
.align-center{
	align-items: center;
}
.text-center{
	text-align: center;
}
.position-relative{
	position:relative;
}
.w-1{
	width: 100%;
}
.w-2{
	width: 50%;
}
.w-3{
	width: 33.33%;
}
.w-4{
	width: 25%;
}
.w-5{
	width: 20%;
}
.w-30{
	width: 30%;
}
.w-70{
	width: 70%;
}

/* HEADER */

header{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9;
}
header div li{
	padding: 40px 0;
}
header nav a{
	font-size:14px;
	color: var(--theme-white);
}
header .logo{
	font-size:24px;
	font-weight: 600;
	color: var(--theme-white);
	transition: 0.4s all;
}
header .logo:hover{
	color: black;
}
header .toggle-menu{
	background-color: transparent;
	color: white;
	font-size: 25px;
	display: none;
}
header nav ul li:first-child a:before{
	content:'';
	position:absolute;
	width:100%;
	height:2px;
	background-color: var(--theme-white);
	bottom:-9px;
}
header nav ul li:nth-child(2) a:before{
	content:'';
	position:absolute;
	width:100%;
	height:2px;
	background-color: var(--theme-white);
	bottom:-9px;
	transform: scaleX(0);
	transition: 0.4s all;
}
nav ul li:nth-child(2):hover a:before{
	transform: scaleX(1);
}
header nav ul li:nth-child(3) a:before{
	content:'';
	position:absolute;
	width:100%;
	height:2px;
	background-color: var(--theme-white);
	bottom:-9px;
	transform: scaleX(0);
	transition: 0.4s all;
}
nav ul li:nth-child(3):hover a:before{
	transform: scaleX(1);
}
header nav ul li:nth-child(4) a:before{
	content:'';
	position:absolute;
	width:100%;
	height:2px;
	background-color: var(--theme-white);
	bottom:-9px;
	transform: scaleX(0);
	transition: 0.4s all;
}
nav ul li:nth-child(4):hover a:before{
	transform: scaleX(1);
}
header nav ul li:nth-child(5) a:before{
	content:'';
	position:absolute;
	width:100%;
	height:2px;
	background-color: var(--theme-white);
	bottom:-9px;
	transform: scaleX(0);
	transition: 0.4s all;
}
nav ul li:nth-child(5):hover a:before{
	transform: scaleX(1);
}
header nav ul li:nth-child(6) a:before{
	content:'';
	position:absolute;
	width:100%;
	height:2px;
	background-color: var(--theme-white);
	bottom:-9px;
	transform: scaleX(0);
	transition: 0.4s all;
}
nav ul li:nth-child(6):hover a:before{
	transform: scaleX(1);
}
header nav ul li:last-child a:before{
	content:'';
	position:absolute;
	width:100%;
	height:2px;
	background-color: var(--theme-white);
	bottom:-9px;
	transform: scaleX(0);
	transition: 0.4s all;
}
nav ul li:last-child:hover a:before{
	transform: scaleX(1);
}
header nav ul li:hover .dropdown, header .dropdown ul li:hover .submenu{
	display: block;
}
header nav ul li:hover .mega-menu{
	display:flex;
}
header .dropdown{
	background-color: skyblue;
	position: absolute;
	top: 100%;
	left: 0;
	min-width: 120px;
	text-align: center;
	display: none;
}
header .dropdown ul li {
	padding:0 20px;
	margin: 0 0 10px 0;
}
header ul li a{
	margin-left: 30px;
}
header nav .dropdown a:before{
	display: none;
}
header .dropdown a{
	color: black;
	margin-left: 10px ;
}
header .dropdown .submenu{
	position: absolute;
	background-color: pink;
	min-width: 120px;
	top: 0;
	left: 100%;
	display: none;
	padding: 10px;
}
header .dropdown .submenu li{
	padding: 5px;
	margin: 0 0 10px 0;
} 
 header .mega-menu{
	position:absolute;
	top:100%;
	left:0;
	right:0;
	background-color:var(--theme-gray);
	padding:10px;
	display:none; 
}
header .mega-menu li{
	padding:0;
	margin:0 0 15px 0;
}
header .mega-menu li a:before{
	display:none;
}
header .mega-menu li a{
	color:black;
}

/*banner*/

.banner{
	background: linear-gradient(45deg, #553be6 0%, #a87ffa 100%);
	padding: 180px 0;
	position: relative;
	overflow: hidden;
}
.banner:before{
	content:"";
	position: absolute;
	background-color: rgba(255, 255, 255, 1);
	width: 500px;
	height: 500px;
	top: -12%;
	left: -9%;
	border-radius: 50%;
	opacity: 0.1;
}
.banner:after{	
	content:"";
	position: absolute;
	background-color: black;
	width: 800px;
	height: 400px;
	bottom: -38%;
	left: 0;
	border-radius: 0 50% 50% 0;
	opacity: 0.1;
}
.banner h1{
	color: var(--theme-white);
	font-size: 55px;
}
.banner p{
	color: rgba(255, 255, 255, 0.8);
	padding: 20px 0;
}
.banner .banner-items ul li a span{
	color: var(--theme-white);
	display: block;
	margin-top: 100px;
	font-size: 14px;
	padding: 13px;
	border-radius: 50%;
	transition: 0.4s all;
}
.banner .banner-items ul li a span:hover{
	background-color: var(--sky-blue);
}
.banner .banner-items h1 + p + a{
	background-color: var(--sky-blue);
	color: var(--theme-white);
	font-size: 14px;
	padding: 20px;
	border-radius: 27px 27px 27px 0;
	margin-left: 0;
	transition: 0.4s all;
}
.banner .banner-items h1 + p + a:hover, .banner .banner-items h1 + p + a + a:hover, .w-30 .service-items a:hover{
	border-radius: 0px 27px 27px 27px;
}
.banner .banner-items h1 + p + a + a{
	background-color: #bc6ff1;
	color: var(--theme-white);
	font-size: 14px;
	padding: 20px;
	border-radius: 30px 30px 30px 0;
	margin: 20px 0px 0px 7px;
	transition: 0.4s all;
}

/*SERVICES*/

.services{
	padding: 80px 0;
}
.w-30 .service-items{
	margin-right: 27px;
}
.service-items h5{
	color: var(--sky-blue);
	letter-spacing: 2px;
	font-size: 15px;
	margin-bottom: 10px;
}
.service-items h2{
	font-weight: 400;
	font-size: 30px;
}
.service-items p{
	color: var(--theme-gray);
	margin: 15px 0;
	line-height: 1.7;
}
.w-30 .service-items a{
	background-color: #bc6ff1;
	color: var(--theme-white);
	font-size: 14px;
	padding: 15px 20px;
	border-radius: 30px 30px 30px 0;
	transition: 0.4s all;
}
.service-box{
	padding: 20px;
	box-shadow: 0px 5px 14px -6px rgba(0, 0, 0, 0.27);
	margin: 0 15px 20px 0;
	transition: 0.6s 0.1s all;
	position: relative;
	z-index: 9;
	overflow: hidden;
}
.service-box:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.1);
	bottom: -100%;
	left: 50%;
	z-index: -1;
	opacity: 0;
	transform: translateX(-50%);
	transform: rotate(45deg);
	transition: 0.4s all ease-out;
}
.service-box:hover:after{
	transform: translateX(0%);
	left: 0;
	transform: rotate(45deg);
	opacity: 1;
	bottom: -70%;
}
.service-items .service-box:hover{
	background-color: var(--sky-blue);
}
.w-70 .service-items{
	margin-right: 0px;
}
.w-70 .service-items .service-box:hover h4,.w-70 .service-items .service-box:hover p{
	color: var(--theme-white);
}

.w-70 .w-3 .service-box i{
	background-color: #eff2ff;
	color: var(--sky-blue);
	width: 80px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	padding: 18px;
	border-radius: 50%;
	font-size: 34px; 
}
.service-box h4{
	color: black;
	margin: 14px;
}
.service-box p{
	color: var(--theme-gray);
	font-size: 18px;
}

/*OUR VALUATION*/

.valuation-inner{
	margin-bottom: 60px;
}
.valuation h2{
	color: var(--sky-blue);
	font-weight: 400;
	font-size: 50px;
}
.valuation p{
	color: var(--theme-gray);
	font-weight: 500;
	font-size: 16px;
}
.valuation-inner{
	box-shadow: 0px 5px 14px -6px rgba(0, 0, 0, 0.27);
}

/*ABOUT-US*/

.about{
	margin: 120px 0;
}
.about-items{
	margin-right: 30px;
}
.about-items h5{
	color: var(--sky-blue);
	font-size: 15px;
	letter-spacing: 2px;
	margin-bottom: 15px;
}
.about-items h2{
	color: #2a3a60;
	font-size: 36px;
	font-weight: 500;
}
.about-items p{
	color: var(--theme-gray);
	margin: 20px 0;
	line-height: 1.6;
}
.about-items a:hover{
	border-radius: 0px 27px 27px 27px;	
}
.about-items a{
	background-color: var(--sky-blue);
	color: var(--theme-white);
	font-size: 14px;
	padding: 14px 20px;
	border-radius: 27px 27px 27px 0;
	transition: 0.4s all;
}

/*OUR-TEAM*/

.team-title h5{
	color: var(--sky-blue);
	font-size: 15px;
	letter-spacing: 2px;
}
.team-title h2{
	color: #2a3a60;
	font-size: 45px;
	font-weight: 400;
	margin: 22px 0;
}
.team-title p{
	color: var(--theme-gray);
	max-width: 750px;
	margin: 0 auto;
}
.team-inner{
	margin: 100px 0;
}
.team-items:hover .team-img ul li a, .team-items:hover{
	background-color: #f2e3fc; 
	opacity: 1;
}
.team-items{
	box-shadow: 0px 5px 14px -6px rgba(0, 0, 0, 0.27);
	margin-right: 20px;
	transition: 0.8s all;
}
.team-items .team-img img{
	height: 380px;
	object-fit: cover;
}
.team-items .team-img ul{
	position: absolute;
	bottom: 0;
	left: 0;
	margin-left: 12px;
}
.team-items .team-img ul li a{
	margin-bottom: 8px;
	background-color: #f2e3fc;
	padding: 8px 10px;
	border-radius: 50%;
	color: #a641ec;
	font-size: 14px;
	opacity: 0;	
	transition: 0.6s all;
}
.team-items .team-img ul li a:hover{
	background-color: var(--sky-blue);
	color: var(--theme-white);
}
.team-content{
	padding: 30px;
}
.team-content h3{
	color: #2a3a60;
	margin-bottom: 15px;
}
.team-content p{
	color: var(--theme-gray);
}

/*TESTIMONIALS*/

.testimonials{
	background-color: #f9faff;
	padding: 80px;
}
.testimonials-title h5{
	color: var(--sky-blue);
	font-size: 15px;
	letter-spacing: 2px;
}
.testimonials-title h2{
	color: #2a3a60;
	font-size: 45px;
	font-weight: 400;
	margin: 22px 0;
}
.testimonials-title p{
	color: var(--theme-gray);
	max-width: 750px;
	margin: 0 auto;
}
.testimonials-inner{
	margin: 40px 0;
}
.testimonials-items{
	background-color: var(--theme-white);
	padding: 40px;
	margin: 60px 30px 0 0;
	border-radius: 6px;
	box-shadow: 0px 5px 12px -9px rgba(0, 0, 0, 0.17);
}
.testimonials-items:before{
	content: '\e900';
	font-family: icomoon;
	background-color: var(--sky-blue);
	padding: 15px 15px;
	font-size: 19px;
	color: var(--theme-white);
	border-radius: 50%;
	position: absolute;
	top: -10%;
	left: 50%;
	transform: translateX(-50%);
}
.testimonials-items p{
	margin-bottom: 20px;
	line-height: 1.7;
}
.testimonials-items ul li img{
	width: 90px;
	height: 90px;
	border-radius: 50%;
	margin-right: 15px;
}
.testimonials-items ul li h4{
	color: #2a3a60;
	margin: 12px 0;
}
.testimonials-items ul li p{
	color: var(--sky-blue);	
}

/*WHY-CHOOSE-US*/

.why-choose-us{
	background-color: #f9faff;
	z-index: 9;
	padding-top: 80px;	
}
.why-choose-us:before{
	content: '';
	background: linear-gradient(45deg, #553be6 0%, #a87ffa 100%);
	width: 100%;
	height: 540px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.why-choose-us-title h5{
	font-size: 15px;
	letter-spacing: 2px;
	color: var(--theme-white);
}
.why-choose-us-title h2{
	font-size: 45px;
	font-weight: 400;
	margin: 20px 0;
	color: var(--theme-white);
}
.why-choose-us-title p{
	max-width: 900px;
	margin: 0 auto;
	line-height: 1.5;
	color: rgba(255, 255, 255, 0.8);
	font-size: 17px;
}
.why-choose-us-items{
	background-color: var(--theme-white);
	padding: 30px;
	margin: 60px 20px;
	box-shadow: 0px 5px 14px -6px rgba(0, 0, 0, 0.27);
	z-index: 9;
	transition: 0.8s all;
	overflow: hidden;
}
.why-choose-us-items:hover{
	background-color: var(--sky-blue);
}
.why-choose-us-items:hover p,.why-choose-us-items:hover h2{
	color: var(--theme-white);
}
.why-choose-us-items:hover i{
	background-color: var(--theme-white);
	color: var(--sky-blue);
}
.why-choose-us-items:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.1);
	bottom: -100%;
	left: 50%;
	z-index: -1;
	opacity: 0;
	transform: translateX(-50%);
	transform: rotate(45deg);
	transition: 0.4s all ease-out;
}
.why-choose-us-items:hover:before{
	transform: translateX(0%);
	left: 0;
	transform: rotate(45deg);
	opacity: 1;
	bottom: -60%;
}
.why-choose-us-items i{
	background-color: var(--sky-blue);
	padding: 15px 15px;
	border-radius: 50%;
	display: inline-block;
	color: var(--theme-white);
	font-size: 34px;
	transition: 0.6s all;
}
.why-choose-us-items h2{
	color: #2a3a60;
	margin: 20px 0;
	transition: 0.4s all;
}
.why-choose-us-items p{
	color: var(--theme-gray);
	line-height: 1.7;
	transition: 0.4s all;
}
.why-choose-us-inner .row + p{
	max-width: 700px;
	margin: 0 auto;
	color: var(--theme-gray);
	padding-bottom: 100px;
}

/*PORTFOLIO*/

.portfolio{
	margin: 80px 0;
}
.portfolio-title h5{
	font-size: 15px;
	letter-spacing: 2px;
	color: var(--sky-blue);
}
.portfolio-title h2{
	font-size: 45px;
	font-weight: 400;
	color: #2a3a60;
	margin: 20px 0;
}
.portfolio-title p{
	max-width: 950px;
	color: var(--theme-gray);
	margin: 0 auto;
	line-height: 1.7;
}
.portfolio-items{
	margin: 80px 15px;
	transition: 0.4s all;	
}
.portfolio-items:hover{
	background-color: #e8f8ff;
}
.portfolio-items:hover.portfolio-items .portfolio-content p{
	background-color: #84d7fd;
	border-radius: 4px;
	color: var(--theme-white);
}
.portfolio-items .portfolio-img img{
	height: 500px;
	object-fit: cover;
	border-radius: 4px;
}
.portfolio-content{
	padding: 20px;
	box-shadow: 0px 5px 14px -6px rgba(0, 0, 0, 0.27);
}
.portfolio-items .portfolio-content p{
	color: var(--theme-gray);
	background-color: #f8f9fa;
	display: inline-block;
	padding: 7px;
	margin: 10px 0;
	transition: 0.6s all;
	border-radius: 4px;
	font-size: 15px;
}
.portfolio-items .portfolio-content a{
	color: #2a3a60;
	font-size: 20px; 
}
.portfolio-more a{
	color: var(--sky-blue);
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 2px;
	margin-bottom:  80px;
}
.portfolio-more a:hover{
	color: #2a3a60;
}
.portfolio-more a i{
	font-family: FontAwesome;
	font-size: 12px;
	margin-left: 4px;
}

/*PRICING*/

.pricing-title{
	margin-top: 120px;
}
.pricing-title h5{
	color: var(--sky-blue);
	font-size: 15px;
	letter-spacing: 2px;
}
.pricing-title h2{
	color: #2a3a60;
	font-size: 45px;
	font-weight: 400;
	margin: 20px 0;
}
.pricing-title p{
	color: var(--theme-gray);
	width: 750px;
	margin: 0 auto;
	line-height: 1.7;
}
.pricing-items{
	box-shadow: 0px 24px 48px -13px rgba(0, 0, 0, 0.05);
	padding: 25px;
	margin: 80px 15px;
	transition: 0.2s 0.1s all;
}
.pricing-items:hover{
	box-shadow: 0px 24px 48px -13px rgba(0, 0, 0, 0.11);
}
.pricing-items sup{
	color: #aebbdb;
	font-size: 26px;
	vertical-align: top;
	line-height: 40px;
}
.pricing-items span{
	color: var(--sky-blue);
	margin-left: 5px;
	font-size: 50px;
}
.pricing-items h4{
	color: #2a3a60;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 500;
	margin: 30px 0;
}
.pricing-items ul li{
	color: var(--theme-gray);
	margin-bottom: 25px;
	font-size: 18px;
}
.pricing-items ul li:nth-child(2){
	background-color: #f9faff;
	padding: 12px 25px;
	border-radius: 4px;
}
.pricing-items ul li:nth-child(4){
	background-color: #f9faff;
	padding: 12px 25px;
	border-radius: 4px;
}
.pricing-items ul li:before{
	content: '\ea10';
	font-family: icomoon;
	color: var(--sky-blue);
	margin-right: 10px;
}
.pricing-items a{
	background-color: var(--sky-blue);
	color: var(--theme-white);
	font-size: 15px;
	padding: 16px 24px;
	border-radius: 27px 27px 27px 0;
	transition: 0.4s all;
	font-weight: 500;
	margin-top: 40px;
}
.pricing-items a:hover{
	border-radius: 0px 27px 27px 27px;	
}

/* OUR BLOG */

.blog{
	background-color: #f9faff;
	padding: 100px 0;
}
.blog-title{
	margin-bottom: 60px;
}
.blog-title h5{
	color: var(--sky-blue);
	font-size: 15px;
	letter-spacing: 2px;
}
.blog-title h2{
	color: #2a3a60;
	font-size: 45px;
	font-weight: 400;
	margin: 20px 0;
}
.blog-title p{
	color: var(--theme-gray);
	width: 750px;
	margin: 0 auto;
	line-height: 1.7;
}
.blog-items{
	margin-right: 20px;
	box-shadow: 0px 5px 14px -6px rgba(0, 0, 0, 0.15);
}
.blog-content {
	padding: 30px 25px 60px 25px;
	background-color: var(--theme-white);
}
.blog-items .blog-content a h2{
	color: black;
	margin-bottom: 15px;
	line-height: 1.5;
	transition: 0.2s all;
}
.blog-content a:hover h2{
	color: var(--sky-blue);
}
.blog-items .blog-content span{
	color: var(--theme-gray);
	margin-right: 8px;
	font-size: 12px;
	font-weight: 500;
}
.blog-items .blog-content a{
	color: var(--sky-blue);
	font-weight: 500;
	font-size: 14px;;
}

/*NEWSLETTER*/

.newsletter{
	background-color: #0d6efd;
	padding: 60px 0;
}
.newsletter-items h2{
	font-size: 28px;
	color: var(--theme-white);
	margin-bottom: 10px;
}
.newsletter-items p{
	color: rgba(255, 255, 255, 0.8);
}
.newsletter-items{
	margin: 0 30px;
}
.newsletter-items input{
	width: 100%;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid white;
	padding: 10px 0;
}
::placeholder{
	color: var(--theme-white);
	font-size: 16px;
}
.newsletter-items form i{
	color: var(--theme-white);
	position: absolute;
	top: 0;
	right: 0;
}

/*FOOTER*/

footer{
	background-color: #eaedff;
	z-index: 9;
	overflow: hidden;
}
footer .container{
	padding: 80px 0;
}
footer:before{
	content: '';
	position: absolute;
	background: #e5e9ff;
	width: 700px;
	height: 500px;
	border-radius: 50%;
	opacity: 0.7;
	top: -45%;
	left: -15%;	
	z-index: -1;	
}
footer:after{
	content: '';
	position: absolute;
	background-color: #e5e9ff;
	width: 500px;
	height: 500px;
	border-radius: 50%;
	opacity: 0.7;
	bottom: -25%;
	right: -10%;	
	z-index: -1;	
}
footer .logo{
	font-size: 24px;
	font-weight: 600;
	color: var(--sky-blue);
	margin-bottom: 50px;
}
footer .w-5:first-child p{
	color: var(--theme-gray);
	line-height: 1.5;
	font-weight: 400;
	margin-bottom: 20px;
}
footer .w-5:first-child ul li a{
	color: var(--sky-blue);
	border: 1px solid var(--sky-blue);
	padding: 11px 13px;
	margin-right: 10px;
	border-radius: 5px;
	font-size: 16px;
}
footer h3{
	margin-bottom: 50px;
	font-weight: 500;
	color: #2a3a60;	
}
footer .w-5:nth-child(2) ul li a:hover{
	color: var(--sky-blue);
}
footer .w-5:nth-child(2) .footer-items{
	margin-left: 25px;
}
footer .w-5:nth-child(2) ul li{
	display: flex;
	align-items: center;
	margin-bottom: 18px;
}
footer .w-5:nth-child(2) ul li a{
	color: var(--theme-gray);
	font-size: 18px;
}
footer .w-5:nth-child(2) ul li:before{
	content: '\f061';
	font-family: FontAwesome;
	color: var(--theme-gray);
	font-size: 10px;
	margin-right: 4px;
}
footer .w-5:nth-child(2) ul li:hover:before{
	color: var(--sky-blue);
}
footer .w-5:nth-child(3) ul li{
	display: flex;
	align-items: center;
	margin-bottom: 18px;
}
footer .w-5:nth-child(3) ul li a:hover{
	color: var(--sky-blue);
}
footer .w-5:nth-child(3) ul li a{
	color: var(--theme-gray);
	font-size: 18px;
}
footer .w-5:nth-child(3) ul li:before{
	content: '\f061';
	font-family: FontAwesome;
	color: var(--theme-gray);
	font-size: 10px;
	margin-right: 4px;
}
footer .w-5:nth-child(3) ul li:hover:before{
	color: var(--sky-blue);
}
footer .w-5:nth-child(4) ul li{
	margin-bottom: 25px
}
footer .w-5:nth-child(4) ul li img{
	width: 55px;
	height: 55px;
	margin-right: 14px;
	border-radius: 5px;
}
footer .w-5:nth-child(4) ul li a{
	color: #a4a3b5;
	margin-right: 7px;
	font-size: 14px;
}
footer .w-5:nth-child(4) ul li a:hover{
	color: var(--sky-blue);
}
footer .w-5:nth-child(4) ul li a i{
	color: var(--sky-blue);
	margin-right: 3px;
}
footer .w-5:nth-child(4) ul li h4 a{
	color: var(--theme-gray);
	font-size: 16px;
	margin-top: 10px;
	font-weight: 500;
}
footer .w-5:last-child .footer-items{
	margin-left: 20px;
}
footer .w-5:last-child ul li{
	margin: 35px 0;
}
footer .w-5:last-child ul li p{
	color: #88879e;
	font-size: 15px;
}
footer .w-5:last-child ul li a{
	color: #88879e;
	font-size: 15px;
}
footer .w-5:last-child ul li a:hover{
	color: var(--sky-blue);
}
footer .w-5:last-child ul li i{
	color: var(--sky-blue);
	margin-right: 18px;
}
.copyright{
	background: linear-gradient(45deg, #553be6 0%, #a87ffa 100%);
	padding: 50px 0;
	color: rgba(255,255,255,.5);
	font-size: 16px;
}
.copyright p a{
	color: var(--sky-blue);
}

/*BACK-TO-TOP*/

.back-to-top{
	background: linear-gradient(45deg, #553be6 0%, #a87ffa 100%);
	width: 70px;
	height: 70px;
	line-height: 70px;
	text-align: center;
	border-radius: 50%;
	font-size: 40px;
	position: fixed;
	right: 30px;
	bottom: 30px;
	color: var(--theme-white);
	z-index: 9;
}